.formula-cover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c6c6c6;
}
.formula-pupop{
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
    background-color: #fff;
    border: 1px solid #999;
    width: 330px;
    height: 180px;
    padding: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -95px;
    margin-left: -170px;
}
.formula-toolbar{
    display: block;
    border-bottom: 1px solid #ccc;
    height: 25px;
}
.formula-tab{
    display: block;
    float: left;
    padding: 5px;
    height: 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
}
.formula-tab.active{
    border-bottom: 1px solid #fff;
}
.formula-tab.active{
    display: block;
}
.formula-content{
    clear: both;
    width: 330px;
}
.formula-panel{
    display: none;
    clear: both;
    margin-top: 3px;
}
.formula-panel.active{
    display: block;
}
.formula-latex{
    width:30px;
    height:30px;
    border: 1px solid #ccc;
    float: left;
    margin: 4px 4px 0 0;
    background-image: url("../images/um-formula.png");
}
.formula-clearfix{
    clear: both;
}